@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800');
@import url("https://use.typekit.net/wwk3eyy.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-default {
  @apply rounded-full font-sans text-lg no-underline border-0 cursor-pointer shadow px-6 py-3
}

body {
  margin: 0;
}

.nav-link, a {
  transition: .4s;
}

.nav-link:hover {
  transform: translateY(-3px);
}



h1, h2, h3, .h1, .h2, .h3 {
  font-family: "Rift", sans-serif;
  font-weight: 700;
}

h4, h5, h6, .h4, .h5, .h6 {
  font-family: "Rift", sans-serif;
  font-style: italic;
  font-weight: 400;
}