@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800');
@import url("https://use.typekit.net/wwk3eyy.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-default {
  @apply rounded-full font-sans no-underline cursor-pointer shadow px-6 py-3;
  transition: background-color .3s, transform .3s;
}

.btn-default:hover {
  transform: translateY(-3px);
}

.btn-xs {
  @apply rounded-full font-sans no-underline text-xs cursor-pointer shadow px-3 py-1;
  transition: .3s;
}

.btn-xs:hover {
  @apply border border-white
}

body {
  margin: 0;
}

.nav-link, a {
  transition: transform .4s;
}

.nav-link:hover {
  transform: translateY(-3px);
}

h1, h2, h3, .h1, .h2, .h3 {
  font-family: "Rift", sans-serif;
  font-weight: 700;
}

h4, h5, h6, .h4, .h5, .h6 {
  font-family: "Rift", sans-serif;
  font-style: italic;
  font-weight: 400;
}